.todo {
  cursor: pointer;
  text-align: center;
}

.list{
  text-align: center;
}

.list-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  .strike {
    text-decoration: line-through;
  }
  .actions{
    display: inline-block;
    .edit{
      margin-right: 8px;
      cursor: pointer;
    }
    .delete{
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 992px){
  .list-items{
    max-width: 25%;
  }
}